@model SATProject.DATA.EF.Models.StudentStatus

@{
    ViewData["Title"] = "Student Status Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ssname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssdescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssdescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ssid">Edit</a> |
    <a asp-action="Index">Back to Student Status List</a>
</div>
