@model IEnumerable<SATProject.DATA.EF.Models.Enrollment>

@{
    ViewData["Title"] = "Enrollments";
}


@section css {
<!-- Custom styles for lists template -->
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/style-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/to-do.css">
}

<section class="wrapper">
    <!-- COMPLEX TO DO LIST -->
    <div class="row mt">
        <div class="col-md-12">
            <section class="task-panel tasks-widget">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h5> @ViewData["Title"]</h5>
                    </div>
                    <br>
                </div>
                <div class="panel-body">
                    <div class="task-content">
                        <ul class="task-list">

                            @foreach (var item in Model)
                            {
                                <li>
                                    <div class="task-title">
                                        <a asp-action="Details" asp-route-id="@item.EnrollmentId">@Html.DisplayFor(modelItem => item.Student.FullName) - Enrollment @Html.DisplayFor(modelItem => item.EnrollmentId)</a>                                        
                                        <div class="pull-right">
                                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.EnrollmentId"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-success btn-xs" asp-action="Details" asp-route-id="@item.EnrollmentId"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.EnrollmentId"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class=" add-task-row">
                        <a class="btn btn-success btn-sm pull-left" asp-action="Create">Enroll Student</a>
                    </div>
                </div>
            </section>
        </div>
        <!-- /col-md-12-->
    </div>
    <!-- end to do list-->
</section>

@section Scripts {
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="lib/tasks.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
      TaskList.initTaskWidget();
    });

    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
</script>
}













@*
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledClass)
                Scheduled Class
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
