@model SATProject.DATA.EF.Models.Course

@{
    ViewData["Title"] = @Model.CourseName;
}


@section css {
<!-- Custom styles for lists template -->
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/style-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/to-do.css">
}

<section class="wrapper site-min-height">
   
<h2>@ViewData["Title"]</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curriculum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to Courses</a>
</div>


</section>

@section Scripts {
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="lib/tasks.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
      TaskList.initTaskWidget();
    });

    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
</script>
}
