@model SATProject.DATA.EF.Models.ScheduledClass

@{
    ViewData["Title"] = "Scheduled Class Details";
}


@section css {
<!-- Custom styles for lists template -->
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/style-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/to-do.css">
}

<section class="wrapper">
   
   

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            Instructor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ss.Scsname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduledClassId">Edit</a> |
    <a asp-action="Index">Back to Scheduled Classes</a>
</div>
 
</section>

@section Scripts {
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="lib/tasks.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
      TaskList.initTaskWidget();
    });

    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
</script>
}
